@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');


.App {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Comfortaa';
}

.App:before {
    content: '';
    background-image: url('https://cdn.pixabay.com/photo/2020/05/06/06/18/blue-5136251_1280.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -13;
}

.degrees {
 font-size: x-large;
}

.setDegree {
background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
padding: 2px 20px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #eee;
border-radius: 10px;
}

.forecastTitle {
  font-size: x-large
}

img {
  height: 100px;
  margin-left: 0px;
}

.setDegree:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}

.cont {
  background-color: rgb(153, 187, 209, 0.5);
  color: white;
  z-index: 5;
}

#grid {
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  margin-top: 10px;
}

.modalStyle {
  text-align: center;
  height: auto;
  color: white;
  background-color:  rgba(1, 104, 129, 0.4);
  padding: 10px;
  margin: 40px;
  border-radius: 10px;
}

.card{
  background-image:  linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  transition: 0.5s;
    background-size: 200% auto;
    color: white;       
    opacity: 0.6;     
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }

  .card:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    cursor: pointer;
  transform: scale(1.1);
    text-decoration: none;
    opacity: 0.9;
  }

  .tableHolder {
    display: flex;
    flex-wrap: wrap;
  }


th, td {
  color: white;
}

tr {
  height: 70px;
}


.xmark {
  margin-left: 85vw;
  height: 50px;
}


@media only screen and (max-width: 500px) {
  .d-flex {
    flex-wrap: wrap;
  }

  .modalStyle {
    margin: 10px;

  }
  .xmark {
    margin-left: 70vw;
  }

  .card-body {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }



  .dailyholder {
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    
  }
}